<mat-tab-group>
  <mat-tab #tabHelp>
    <ng-template mat-tab-label><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> Help</ng-template>
    <p>Click on a stream to view upstream/downstream info</p>
  </mat-tab>
  <mat-tab [disabled]="!river" #tabRiver>
    <ng-template mat-tab-label>Stream</ng-template>
    <div *ngIf="river" id="riverTabContent">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <caption>Stream</caption>
          <tr>
            <th>Id</th>
            <td>{{river.properties.LINEAR_FEATURE_ID}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{river.properties.GNIS_NAME}}</td>
          </tr>
          <tr>
            <th>Watershed Code</th>
            <td>{{river.properties.codeRange.code}}</td>
          </tr>
          <tr>
            <th>Local Code</th>
            <td>{{river.properties.codeRange.toStringLocal()}}</td>
          </tr>
          <tr *ngIf="river.properties.LENGTH_METRE">
            <th>Segment length</th>
            <td class="number">{{km(river.properties.LENGTH_METRE)}}</td>
          </tr>
          <tr *ngIf="river.properties.UPSTREAM_LENGTH">
            <th>Upstream Length</th>
            <td class="number">{{km(river.properties.UPSTREAM_LENGTH)}}</td>
          </tr>
          <tr *ngIf="river.properties.DOWNSTREAM_LENGTH">
            <th>Downstream Length</th>
            <td class="number">{{km(river.properties.DOWNSTREAM_LENGTH)}}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="emsLocations.stationCount() > 0" class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
          <caption>EMS Stations <span class="badge">{{emsLocations.stationCount()}}</span></caption>
          <thead>
          <tr>
            <th>ID</th>
            <th>&nbsp;</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emsStationId of emsLocations.stationIds()" [ngClass]="{'onStream': emsLocations.onStream(emsStationId), 'downstream': emsLocations.downstream(emsStationId) }">
              <td>{{emsStationId}}</td>
              <td><a
                href="https://a100.gov.bc.ca/ext/ems/dataResultsCriteria.do?bean.p_ems_id={{emsStationId}}"
                target="_report"
                class="btn btn-primary btn-xs"
                role="button"
                title="Data Results"
              ><i class="fa fa-table"></i></a></td>
              <td>{{emsStationName(emsStationId)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
  <mat-tab [disabled]="!emsStation" #tabEmsStation>
    <ng-template mat-tab-label>EmsStation</ng-template>
    <div *ngIf="emsStation">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <th>ID</th>
            <td>{{emsStation['properties']['MONITORING_LOCATION_ID']}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{emsStation['properties']['MONITORING_LOCATION_NAME']}}</td>
          </tr>
          <tr>
            <th>Watershed Code</th>
            <td>{{emsStationWatershedCode(emsStationId)}}</td>
          </tr>
          <tr>
            <th>Local Watershed Code</th>
            <td>{{emsStationLocalWatershedCode(emsStationId)}}</td>
          </tr>
          <tr>
            <th>Actions</th>
            <td><a
      href="https://a100.gov.bc.ca/ext/ems/dataResultsCriteria.do?bean.p_ems_id={{emsStation['properties']['MONITORING_LOCATION_ID']}}"
      target="_report"
      class="btn btn-primary btn-xs"
      role="button"
      title="Data Results"
    ><i class="fa fa-table"></i></a></td>
          </tr>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
