:host {
  display: flex;
  flex: 1;
}
tabset {
  display: flex;
  flex-direction: column;
  flex: 1;
}
:host ::ng-deep div.tab-content {
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1px 2px;
}
:host ::ng-deep div.tab-content > tab.active {
  height: 0;
}

tr.downstream td {
  color: #B22222;
}

tr.onStream td {
  color: #00CED1;
}
