<tabset  #tabs>
  <tab>
    <ng-template tabHeading><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i> River Demo</ng-template>
    <p>Click on a stream to view upstream/downstream info</p>
  </tab>
  <tab [disabled]="!river">
    <ng-template tabHeading>River</ng-template>
    <div *ngIf="river" id="riverTabContent">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Name</th>
            <td>{{river.properties.name}}</td>
          </tr>
          <tr>
            <th>Watershed Code</th>
            <td>{{river.properties.fwawsc}}</td>
          </tr>
          <tr>
            <th>Local Code</th>
            <td>{{river.properties.localwsc}}</td>
          </tr>
          <tr>
            <th>Segment length</th>
            <td>{{(river.properties.seglen / 1000).toFixed(1)}} km</td>
          </tr>
          <tr>
            <th>Upstream length</th>
            <td>{{(river.properties.upslen / 1000).toFixed(1)}} km</td>
          </tr>
          <tr>
            <th>Downstream length</th>
            <td>{{(river.properties.dwnslen / 1000).toFixed(1)}} km</td>
          </tr>
        </table>
      </div>
      <div *ngIf="emsLocations.stationCount() > 0" class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
          <caption>EMS Stations</caption>
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let station of emsLocations.stations()" [ngClass]="{'onStream': emsLocations.onStream(station), 'downstream': emsLocations.downstream(station) }">
              <td>{{station.feature.properties['MONITORING_LOCATION_ID']}}</td>
              <td>{{station.feature.properties['MONITORING_LOCATION_NAME']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </tab>
  <tab [disabled]="!emsStation">
    <ng-template tabHeading>EmsStation</ng-template>
    <div *ngIf="emsStation">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <th>ID</th>
            <td>{{emsStation.properties.MONITORING_LOCATION_ID}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{emsStation.properties.MONITORING_LOCATION_NAME}}</td>
          </tr>
          <tr>
            <th>Watershed Code</th>
            <td>{{emsStation.properties.FWA_WATERSHED_CODE}}</td>
          </tr>
          <tr>
            <th>Local Watershed Code</th>
            <td>{{emsStation.properties.LOCAL_WATERSHED_CODE}}</td>
          </tr>
        </table>
      </div>
    </div>
  </tab>
</tabset>