<leaflet-map>
  <leaflet-esri-tiled-layer
    name="Roads"
    url="https://maps.gov.bc.ca/arcgis/rest/services/province/roads_wm/MapServer"
  ></leaflet-esri-tiled-layer>
  <leaflet-esri-tiled-layer
    name="Terrain Base Map"
    url="https://maps.gov.bc.ca/arcgis/rest/services/province/web_mercator_cache/MapServer"
  ></leaflet-esri-tiled-layer>

  <leaflet-wms-layer
    basemapLayer="false"
    name="Points of Diversion (Scale Dependent)"
    url="{{bcWmsUrl}}/WHSE_WATER_MANAGEMENT.WLS_POD_LICENCE_SP/ows"
    layers="pub:WHSE_WATER_MANAGEMENT.WLS_POD_LICENCE_SP"
    format="image/png"
    transparent="true"
    styles="Points_of_Diversion"
  ></leaflet-wms-layer>

  <leaflet-wms-layer
    basemapLayer="false"
    name="FWA Watershed Groups (Scale Dependent)"
    url="{{bcWmsUrl}}/WHSE_BASEMAPPING.FWA_WATERSHED_GROUPS_POLY/ows"
    layers="pub:WHSE_BASEMAPPING.FWA_WATERSHED_GROUPS_POLY"
    format="image/png"
    transparent="true"
    styles="FWA_Watershed_Groups_Outlined,FWA_Watershed_Groups_Labels"
  ></leaflet-wms-layer>

  <leaflet-wms-layer
    basemapLayer="false"
    name="FWA Assessment Watersheds (Scale Dependent)"
    url="{{bcWmsUrl}}/WHSE_BASEMAPPING.FWA_ASSESSMENT_WATERSHEDS_POLY/ows"
    layers="pub:WHSE_BASEMAPPING.FWA_ASSESSMENT_WATERSHEDS_POLY"
    format="image/png"
    transparent="true"
    styles="FWA_Assessment_Watersheds_Outlined"
  ></leaflet-wms-layer>

  <leaflet-wms-layer
    basemapLayer="false"
    name="Protected Rivers"
    url="{{bcWmsUrl}}/WHSE_WATER_MANAGEMENT.WLS_WATER_RESOURCE_MGMT_POINT/ows"
    layers="pub:WHSE_WATER_MANAGEMENT.WLS_WATER_RESOURCE_MGMT_POINT"
    format="image/png"
    transparent="true"
    styles="Protected_Rivers_Points"
  ></leaflet-wms-layer>
</leaflet-map>

<app-fwa-legend></app-fwa-legend>
